/* 
    Created on : May 6, 2019, 10:03:43 AM
    Author     : Slash Web Design
*/

.sign-in,
.sign-up {
	height: 100%;
	
	.logo {
		text-align: center;
		margin-bottom: 130px;
		
		img {
			margin-top: 100px;
			max-width: 50%;
		}
	}
	
	.row {
		margin: 40px 0px;
		text-align: center;
		
		.input-box {
			display: inline-block;
			border-bottom: 1px solid $white;
			
			.ico {
				display: inline-block;
				vertical-align: top;
				font-size: 20px;
				color: $white;
				margin: 0px 20px 10px 5px;
			}
			input {
				display: inline-block;
				vertical-align: top;
				font-family: Roboto;
				font-weight: 300;
				font-size: 20px;
				line-height: 20px;
				margin: 0px 0px 10px 0px;
				padding: 0px;
				border: none;
				color: $white;
				background-color: transparent;
				border-radius: 0px;
			}
			input:focus,
			input:active {
				box-shadow: none;
			}
		}
	}
	
	p {
		font-size: 16px;
		text-align: center;
		color: #a0a0a0;
		
		.link-sign-up,
		.link-sign-in {
			color: $white;
		}
		.link-sign-up:hover,
		.link-sign-in:hover {
			color: $silver;
		}
	}
	p.btn-holder {
		margin: 80px 0px;
	}
}