/* 
    Created on : May 7, 2019, 5:40:13 PM
    Author     : Slash Web Design
*/

.create {
	position: absolute;
	top: -100%;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: $white;
	overflow-y: auto;
	
	.top {
		height: 250px;
		
		h1 {
			font-size: 16px;
			font-weight: 400;
			color: $white;
			margin: 0px;
			padding: 15px 20px;
			line-height: 16px;
		}
	}
	.form {
		position: relative;
		padding-top: 90px;
		
		.btn-upload {
			background-color: $silver;
			text-align: center;
			width: 230px;
			height: 230px;
			position: absolute;
			top: -170px;
			left: 50%;
			margin-left: -115px;
			overflow: hidden;			

			input[type="file"] {
				position: absolute;
				top: 0;
				right: 0;
				margin: 0;
				border: solid transparent;
				width: 100%;
				height: 100%;
				opacity: .0;
				filter: alpha(opacity= 0);
				cursor: pointer;
			}
			
			.progress {
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				height: 3px;
				margin: 0px;
				padding: 0px;
				border: none;
				background-color: transparent;
								
				.bar {
					height: 3px;
					width: 0%;
					background-colod: $blue;
				}
			}
			
			.ico {
				font-size: 72px;
				color: $white;
				display: block;
				margin-top: 70px;
				text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
			}
			p {
				text-transform: uppercase;
				color: $white;
				display: none;
				margin-bottom: 0px;
				text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
			}
		}
		.uploads {
			text-align: center;
			margin-bottom: 40px;
			
			div {
				display: inline-block;
				vertical-align: top;
				width: 100px;
				height: 100px;
				margin: 0px 10px 10px 0px;
				background-size: cover;
				text-align: center;
				line-height: 200px;
				cursor: pointer;
				
				.ico {
					color: $white;
					font-size: 32px;
					text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
				}
			}
		}
	}

	p {
		margin: 40px 0px;
		text-align: center;

		.btn:first-child {
			margin-right: 20px;
		}
	}
}
.filter .field,
.create .field {
	margin: 0px 20px 20px 20px;

	label {
		display: block;
		text-transform: uppercase;
		color: #a0a0a0;
		margin: 0px 0px 10px 0px;
	}
	input[type="text"],
	textarea {
		border: none;
		border-bottom: 1px solid #313131;
		border-radius: 0px;
		box-sizing: border-box;
		box-shadow: none;
		background-color: transparent;
		padding: 5px 10px;
		width: 100%;
		height: 40px;
	}
	textarea {
		height: 160px;
	}
	input[type="text"]:focus,
	textarea:focus {
		box-shadow: 0px 10px 20px -12px $blue;
	}

	.option {
		display: inline-block;
		padding: 5px 20px;
		margin: 0px 10px 10px 0px;
		border-radius: 5px;
		border: 1px solid $silver;
		color: $grey;
		cursor: pointer;
	}
	.option.selected {
		background-color: $blue;
		color: $white;
	}
	.dropdown {
		position: relative;
		
		.selection {
			border-bottom: 1px solid #313131;
			height: 40px;
			line-height: 40px;
			cursor: pointer;
		}
		.ico {
			position: absolute;
			top: 8px;
			right: 0px;
			display: block;
			font-size: 24px;
		}
		ul {
			display: none;
			list-style: none;
			margin: 0px;
			padding: 0px;
			position: absolute;
			top: 100%;
			left: 0%;
			z-index: 2;
			width: 100%;
			height: auto;
			max-height: 300px;
			overflow-y: scroll;
			background-color: $white;
			box-shadow: 0px 10px 20px -12px $blue;
			
			li {
				line-height: 45px;
				padding: 0px 15px;
				cursor: pointer;
			}
			li:hover {
				background-color: $blue;
				color: $white;
			}
		}
	}
}
