/* 
    Created on : May 6, 2019, 9:24:36 AM
    Author     : Slash Web Design
*/
@import '_colors';

input.error {
	
}

.bg-gradient {
	background: rgb(75,13,138);
	background: linear-gradient(7deg, rgba(75,13,138,1) 0%, rgba(15,82,186,1) 100%); 
}

.menu-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	opacity: 0;
	background-color: rgba(0, 0, 0, .88);
	cursor: pointer;
}
.menu {
	width: 245px;
	height: 100%;
	position: absolute;
	left: -245px;
	top: 0px;
		
	.header {
		font-size: 0px;
		
		.toggle-menu {
			display: inline-block;
			vertical-align: top;
			width: 86px;
		}
		h1 {
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 96px);
			padding-right: 10px;
			text-align: right;
			text-transform: uppercase;
			
			span {
				display: block;
				font-size: 18px;
				font-weight: 400;
				color: $white;
				line-height: 18px;
			}
			span:nth-child(2) {
				font-size: 25px;
				line-height: 25px;
			}
		}
	}
	.nav {
		margin: 60px 0px 0px 0px;
		height: calc(100% - 180px);
		overflow-y: scroll;
		
		a {
			display: block;
			color: $white;
			font-size: 18px;
			text-decoration: none;
			padding-left: 20px;
			line-height: 54px;
			outline: none;
			
			.ico {
				margin-right: 10px;
			}
		}
	}
	.footer {
		position: absolute;
		bottom: 0px;
		color: $white;
		padding: 10px;
		font-size: 12px;
		
		span {
			color: #a0a0a0;
			margin-left: 10px;
		}
	}
}

.spinner-holder {
	padding: 20px 0px;
	text-align: center;
}
.spinner {
	display: inline-block;
	vertical-align: middle;
	background-color: #ffffff;
	border-radius: 100%;  
	-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
	animation: sk-scaleout 1.0s infinite ease-in-out;
}
.spinner.s60 { width: 60px; height: 60px; }
.spinner.s40 { width: 40px; height: 40px; }
.spinner.s20 { width: 17px; height: 17px; }
.spinner.blue { background-color: $blue; }

@-webkit-keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0) 
	}
	100% {
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@keyframes sk-scaleout {
	0% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
		opacity: 0;
	}
}

button.btn {
	border-radius: 20px;
	background-image: none;
	border: none;
	box-shadow: 0px 15px 40px 10px rgba(0,0,0,0.3);
	line-height: 40px;
	padding: 0px 50px;
	text-transform: uppercase;
	text-shadow: none;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
}
button.btn:focus {
	outline: none;
}

button.btn.btn-white {
	background-color: $white;
	color: $blue;
}
button.btn.btn-white:hover,
button.btn.btn-white:active,
button.btn.btn-white:focus {
	background-color: $silver;
	color: $blue;
}

button.btn.btn-blue {
	background-color: $blue;
	color: $white;
}
button.btn.btn-blue:hover,
button.btn.btn-blue:active,
button.btn.btn-blue:focus {
	background-color: $blueHover;
	color: $white;
}