/* 
    Created on : May 7, 2019, 7:50:18 AM
    Author     : Slash Web Design
*/

.profile {
	z-index: 3;
	position: absolute;
	top: -100%;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: $white;
	overflow-y: auto;
    -webkit-overflow-scrolling: touch;
	
	.header {
		z-index: 2;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 45px;
		
		.ico {
			font-size: 36px;
			color: $white;
			cursor: pointer;
		}
	}
	.slider {
		height: 250px;
		position: relative;
		background-color: #313131;
		
		.swiper-container {
			max-width: 400px;
			height: 250px;
			
			.swiper-wrapper {
				.swiper-slide {
					background-size: cover;
				}
			}
			.swiper-overlay {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				opacity: 0.5;
				z-index: 2;
			}
		}
		.progress {
			z-index: 3;
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 100%;
			height: 3px;
			margin: 0px;
			background-color: transparent;
			background-image: none;
			box-shadow: none;
			
			.bar {
				box-shadow: none;
				background-image: none;
				background-color: transparent;
				height: 100%;
			}
			.bar.active {
				background-color: $blue;
			}
		}
		.name {
			color: $white;
			position: absolute;
			bottom: 20px;
			left: 20px;
			z-index: 3;
			font-size: 22px;
			font-weight: 300;
		}
	}
	.props {
		background-color: $silver;
		padding: 20px;
		font-size: 0px;
		
		div {
			display: inline-block;
			vertical-align: top;
			width: 25%;
			text-align: center;
			
			label {
				display: block;
				text-transform: uppercase;
				color: #a0a0a0;
				font-size: 12px;
				font-weight: 300;
			}
			span {
				color: $grey;
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
	.description {
		padding: 20px;
	}
	.location {
		padding: 20px;
		
		a.item {
			display: block;
			margin-bottom: 30px;
			cursor: pointer;
				
			.ico {
				color: #555555;
				font-size: 24px;
				display: inline-block;
				vertical-align: middle;
				margin: 0px 10px 0px 0px; 
			}
			div {
				display: inline-block;
				vertical-align: middle;
				width: calc(100% - 54px);
				padding: 10px 10px;
				box-shadow: 0px 10px 10px -1px rgba(0, 0, 0, 0.05);
				
				p {
					font-weight: 300;
					line-height: 20px;
					height: 20px;
					margin: 0px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				p:first-child {
					color: #6d6d6d;
				}
				p:last-child {
					color: #000000;
				}
			}
		}
	}
}

.list {
	background-color: $white;
	
	.shadow {
		box-shadow: 0px 20px 30px 20px rgba(0,0,0,0.1);
	}
	.header {
		text-align: center;
		font-size: 24px;
		font-weight: 500;
		line-height: 54px;
		color: $blue;
		position: -webkit-sticky;
		position: sticky;
		top: 0px;
		z-index: 2;
		background-color: $white;

		.toggle-menu {
			position: absolute;
			top: 10px;
			left: 10px;
			cursor: pointer;
			font-size: 33px;
			display: block;
			width: 33px;
			height: 33px;
			line-height: 1;
		}
		img {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
	.btn-filter {
		display: block;
		background-color: $silver;
		line-height: 45px;
		color: #a0a0a0;
		cursor: pointer;
		font-size: 18px;
		
		span {
			display: inline-block;
			vertical-align: middle;
		}
		.ico {
			font-size: 24px;
			margin: 0px 10px;
		}
		.selection {
			white-space: nowrap;
			max-width: calc(100% - 44px);
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	.categories {
		line-height: 45px;
		height: 48px;
		overflow-y: hidden;
		overflow-x: hidden;
		position: relative;
		
		.scroller {
			white-space: nowrap;
			overflow-x: scroll;
			
			div {
				display: inline-block;
				padding: 0px 40px;
				margin-bottom: 10px;
				font-weight: 300;
				color: $grey;
				border-bottom: 3px solid $white;
				text-transform: uppercase;
				cursor: pointer;
			}
			div.active {
				color: $blue;
				border-bottom: 3px solid $blue;
			}
		}
		.ico {
			position: absolute;
			top: 50%;
			display: none;
			font-size: 32px;
			color: #cccccc;
			margin-top: -16px;
		}
		.ico-keyboard-arrow-left {
			left: 0px;
		}
		.ico-keyboard-arrow-right {
			right: 0px;
		}
	}
	.results {
		font-size: 0px;
		padding: 20px 0px;
		
		.item {
			display: inline-block;
			margin: 0px 0px 20px 20px;
			width: calc(33.3333% - 26.6666px);
			cursor: pointer;
			position: relative;
			
			.border {
				position: absolute;
				width: 100%;
				height: 3px;
				bottom: 0px;
				left: 0px;
				background-color: $blue;
				display: none;
			}
		}
		.item.active {
			.border {
				display: block;
			}
		}
		.item:nth-of-type(3n) {
			margin-right: 20px;
		}
		
		.preview {
			width: 100%;
			height: 100px;
			padding: 20px;
			background-color: #f8f7f7;
			box-sizing: border-box;
			margin-bottom: 20px;
			font-size: 14px;
			position: relative;
			
			.name {
				color: $blue;
			}
			.props {
				color: $grey; 
			}
			.date {
				color: #a0a0a0;
			}
			.btn {
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}
	}
}

.create-button {
	display: block;
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: $blue;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	
	.ico {
		font-size: 32px;
		color: $white;
	}
}

.filter {
	position: absolute;
	top: -100%;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #f8f7f7;
	z-index: 3;
	overflow-y: auto;
    -webkit-overflow-scrolling: touch;
	
	.header {
		background-color: $white;
		position: relative;
		margin-bottom: 40px;
		
		h1 {
			margin: 0px;
			padding: 0px 0px 0px 20px;
			color: $blue;
			font-size: 18px;
			font-weight: 400;
			line-height: 60px;
		}
		.btn-apply {
			display: block;
			position: absolute;
			top: 50%;
			right: 20px;
			margin-top: -16px;
			font-size: 32px;
			color: $blue;
			cursor: pointer;
		}
	}
}