/* 
    Created on : May 7, 2019, 7:50:18 AM
    Author     : Slash Web Design
pplevente@yahoo.com
*/

.list {
	background-color: $white;
	
	.shadow {
		box-shadow: 0px 20px 30px 20px rgba(0,0,0,0.1);
	}
	.header {
		text-align: center;
		font-size: 24px;
		font-weight: 500;
		line-height: 54px;
		color: $blue;
		position: -webkit-sticky;
		position: sticky;
		top: 0px;
		z-index: 2;
		background-color: $white;

		img {
			position: absolute;
			top: 10px;
			left: 10px;
			cursor: pointer;
		}
	}
	.btn-filter {
		background-color: $silver;
		line-height: 45px;
		color: #a0a0a0;
		cursor: pointer;
		
		span {
			display: inline-block;
			vertical-align: middle;
		}
		.ico {
			font-size: 24px;
			margin: 0px 10px;
		}
		.selection {
			white-space: nowrap;
			max-width: calc(100% - 44px);
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	.categories {
		line-height: 45px;
		height: 48px;
		overflow-y: hidden;
		overflow-x: hidden;
		
		.scroller {
			white-space: nowrap;
			overflow-x: scroll;
			
			div {
				display: inline-block;
				padding: 0px 40px;
				margin-bottom: 10px;
				font-weight: 300;
				color: $grey;
				border-bottom: 3px solid $white;
				text-transform: uppercase;
				cursor: pointer;
			}
			div.active {
				color: $blue;
				border-bottom: 3px solid $blue;
			}
		}
	}
	.results {
		font-size: 0px;
		padding: 20px 0px;
		
		.item {
			display: inline-block;
			margin: 0px 0px 20px 20px;
			width: calc(33.3333% - 26.6666px);
			cursor: pointer;
			position: relative;
			
			.border {
				position: absolute;
				width: 100%;
				height: 3px;
				bottom: 0px;
				left: 0px;
				background-color: $blue;
				display: none;
			}
		}
		.item.active {
			.border {
				display: block;
			}
		}
		.item:nth-of-type(3n) {
			margin-right: 20px;
		}
		
		.preview {
			width: 100%;
			height: 100px;
			padding: 20px;
			background-color: #f8f7f7;
			box-sizing: border-box;
			margin-bottom: 20px;
			font-size: 14px;
			position: relative;
			
			.name {
				color: $blue;
			}
			.props {
				color: $grey; 
			}
			.date {
				color: #a0a0a0;
			}
			.btn {
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}
		
		.empty {
			font-size: 16px;
			color: $grey;
			text-align: center;
			margin: 40px 0px;
		}
	}
}
.create-button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: $blue;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	
	.ico {
		font-size: 32px;
		color: $white;
	}
}
.filter {
	position: absolute;
	top: -100%;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #f8f7f7;
	z-index: 3;
	
	.header {
		background-color: $white;
		position: relative;
		margin-bottom: 40px;
		
		h1 {
			margin: 0px;
			padding: 0px 0px 0px 20px;
			color: $blue;
			font-size: 18px;
			font-weight: 400;
			line-height: 60px;
		}
		.btn-apply {
			display: block;
			position: absolute;
			top: 50%;
			right: 20px;
			margin-top: -16px;
			font-size: 32px;
			color: $blue;
			cursor: pointer;
		}
	}
}