/* 
    Created on : May 6, 2019, 7:42:00 AM
    Author     : Slash Web Design
*/

@import '_colors';
@import '_splash';
@import '_auth';
@import '_helpers';
@import '_list';
@import '_create';
@import '_map';
@import '_reports';

html {
	background-color: $white;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: auto;
	overflow: hidden;
	position: fixed;
	
	body {
		background-color: transparent;
		padding: 0px;
		margin: 0px;
		height: 100%;
		width: 100%;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-size: 14px;
		font-weight: 400;
		color: $grey;
		position: fixed;
		-webkit-overflow-scrolling: auto;
		
		#app {
			height: 100%;
			overflow: hidden;
			overflow-y: auto;
		}
	}
}
* {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}