#RewriteEngine On 
#RewriteCond %{SERVER_PORT} 80 
#RewriteRule ^(.*)$ https://www.slashwebdesign.studio/dpra/$1 [R,L]

<IfModule mod_headers.c>
    # WEEK
    <FilesMatch "\.(jpg|jpeg|png)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>

    # WEEK
    <FilesMatch "\.(js|css)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>
</IfModule>

<ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>